<div id='chatapp'>
  <div id='room-list'>
    <h1> Rooms </h1>
    <div class="room-form">
      <%= render "rooms/form" %>
    </div>
    <% @rooms.each do |room| %>
      <div class='room'>
        <%= link_to room.name, home_index_path(room_id: room) %>
      </div>
    <% end %>
  </div>
  <div id='message-list' >
    <% if @room %>
      <%= render @room %>
    <% end %>
  </div>
</div>

