<div class="messages">
  <% room.messages.each do |message| %>
    <%= render message %>
  <% end %>
</div>

<div class='new-message'>
  <div class="message-form">
    <%= render "messages/form", room: room %>
  </div>
</div>

